---
import Layout from "../layouts/Layout.astro";
import DrumMachine from "../components/DrumMachine.astro";
---

<Layout title="FCC drum pad">
  <main class="flex flex-col items-center  justify-center h-2/4">
	<h1 class="text-center text-xl font-bold " >Loud sound ⚠️</h1>

    <DrumMachine />
  </main>
</Layout>

<style is:global>
  body {
    display: grid;
    align-items: center;

    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
  }
</style>
